@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import "../styles/topBar.css";
/* just for now*/
body {
    background-color: grey;
}
* {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

input[type="text"], textarea {

    background-color : black; 
  
  }